LSTM_MADDPG_TF/
pytorch/datasets/mnist/processed/
pytorch/datasets/mnist/raw/
pytorch/datasets/cifar/cifar-100-python/
pytorch/datasets/cifar/cifar-100-python.tar.gz
pytorch/tutorials/faces/
pytorch/tutorials/hymenoptera_data/
pytorch/tutorials/saving_model/
pytorch/tutorials/venv/
Distral/code/envs/.ipynb_checkpoints/*
tf/ops/tf_summary/
tf/op/saver_restore/checkpoint/
tf/model/MNIST-data/
# delete all .idea files
**/.idea/
# delete all pycache files
**/__pycache__/
