LSTM_MADDPG_TF/
pytorch/datasets/mnist/processed/
pytorch/datasets/mnist/raw/
pytorch/datasets/cifar/cifar-100-python/
pytorch/datasets/cifar/cifar-100-python.tar.gz
pytorch/tutorials/faces/
pytorch/tutorials/hymenoptera_data/
pytorch/tutorials/saving_model/
pytorch/tutorials/venv/
Distral/code/envs/.ipynb_checkpoints/*
tf/ops/tf_summary/
tf/op/saver_restore/checkpoint/
tf/model/MNIST-data/
tools/py_matplotlib/pics/
tools/py_matplotlib/*png
# delete all .idea files
**/.idea/
**/**pyc
**/tf_summary/
# delete all pycache files
**/__pycache__/
experimental/LSTM_MADDPG_TF2/data/
maddpg/**/experiments/result_pictures/
maddpg/**/experiments/benchmark_files/
maddpg/**/experiments/learning_curves/
maddpg/**/experiments/tmp/
experimental/LSTM_MADDPG_TF2/experiments/result_pictures/
experimental/LSTM_MADDPG_TF2/experiments/benchmark_files/
experimental/LSTM_MADDPG_TF2/experiments/learning_curves/
experimental/LSTM_MADDPG_TF2/experiments/uav_statistics/
experimental/LSTM_MADDPG_TF2/experiments/tmp/
experimental/LSTM_MADDPG_TF2/experiments/.info.txt
experimental/LSTM_MADDPG_TF2/experiments/record.file*

